body
{
    background:                 linear-gradient(to right, whitesmoke, white);
    color:                      #888;
    font:                       80% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:                     0;
    padding:                    0;
}

h3, h5
{
    margin:                     5px;
}

label
{
    color:                      #C6002A;
}

.big-question-mark
{
    font-size:                  2vh;
    margin-left:                0.3vw;
    margin-right:               0.5vw;
}

.bottom-box
{
    background:                 #fff;
    border-radius:              1vw;
    display:                    flex;
    flex-direction:             column;
    margin-left:                2vw;
    margin-right:               1vw;
    margin-top:                 2.5vh;
    max-height:                 385px;
    min-width:                  375px;
    text-align:                 center;
    width:                      20vw;
}

.bottom-box p
{
    margin-left:                0.5vw;
    margin-right:               0.5vw;
    overflow-wrap:              break-word;
    text-align:                 left;
}

.horizontal-body-box
{
    display:                    flex;
    flex-direction:             row;
}

.page-top-bar
{
    align-items:                center;
    background:                 linear-gradient(to right, darkred, #C6002A);
    display:                    flex;
    height:                     8vh;
    margin-bottom:              1vh;
}

.page-top-bar-header
{
    color:                      white;
    margin:                     0 0 0 1vw;
}

.shadow
{
    -webkit-box-shadow:         1px 3px 20px 5px darkgray;
    -moz-box-shadow:            1px 3px 20px 5px darkgray;
    box-shadow:                 1px 3px 20px 5px darkgray;
}

.side-bar
{
    display:                    flex;
    flex-direction:             column;
    height:                     50vh;
    justify-content:            center;
    margin-right:               3vw;
}

.side-bar-item
{
    align-items:                center;
    background:                 dimgrey;
    border:                     black 1px solid;
    border-radius:              0 10px 10px 0;
    display:                    flex;
    font-size:                  1vw;
    height:                     7vh;
    justify-content:            center;
    margin:                     2vh 0 2vh 0;
    text-align:                 center;
    width:                      8vw;
}

.side-bar a
{
    color:                      gray;
    text-decoration:            none;
}

.tooltip
{
    border-bottom:              1px dotted black;
    display:                    inline-block;
    position:                   relative;
}

.tooltip .tooltiptext
{
    background-color:           white;
    border-radius:              6px;
    color:                      #C6002A;
    left:                       105%;
    padding:                    5px 0;
    position:                   absolute;
    text-align:                 center;
    top:                        -5px;
    visibility:                 hidden;
    width:                      240px;
    z-index:                    1;
}

.tooltip:hover .tooltiptext
{
    visibility:                 visible;
}

.tooltiptext
{
    border:                     1px black dotted;
}
