.form-item
{
    margin-top:                 0;
}

.game-form
{
    padding-top:                1.5vh;
    padding-bottom:             1.5vh;
}

.game-form label, .game-form input, .game-form button
{
    margin:                     0.6vh 0 0.6vh 0;
}

.game-main-screen
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    margin-top:                 2.8vh;
    text-align:                 center;
}
