.center-box
{
    align-items:                center;
    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
}

.form-item
{
    margin-top:                 0;
}

.game-form
{
    padding-top:                1.5vh;
    padding-bottom:             1.5vh;
}

.game-form label, .game-form input, .game-form button
{
    margin:                     0.6vh 0 0.6vh 0;
}

.game-main-screen
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    margin-top:                 2.8vh;
    text-align:                 center;
}

.score-box
{
    background:                 #fff;
    border-radius:              1vw;
    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
    margin-left:                2vw;
    margin-right:               1vw;
    margin-top:                 2.5vh;
    min-width:                  375px;
    text-align:                 center;
    width:                      20vw;
}

.timer
{
    font-size:                  3vw;
}

.timer-box
{
    align-items:                center;
    background:                 #fff;
    border-radius:              1vw;
    display:                    flex;
    justify-content:            center;
    margin-left:                2vw;
    margin-right:               1vw;
    min-width:                  375px;
    text-align:                 center;
    width:                      20vw;
}
