button
{
    border-radius:              5vw;
    border-style:               solid;
    border-width:               1px;
}

h2
{
    color:                      #C6002A;
    margin:                     1vh;
}

.background-box
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    margin-top:                 2.8vh;
}

.box
{
    background:                 #fff;
    border-radius:              1vw;
    display:                    flex;
    flex-direction:             column;
    margin-left:                2vw;
    margin-right:               1vw;
    max-height:                 575px;
    min-width:                  375px;
    text-align:                 center;
    width:                      20vw;
}

.config-form
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  nowrap;
    justify-content:            space-between;
    margin-bottom:              8vh;
}

.config-main-screen
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    margin-top:                 2.8vh;
    text-align:                 center;
}

.form-col-1
{
    margin-left:                1vw;
}

.form-col-2
{
    margin-right:               1vw;
}

.form-col-1, .form-col-2
{
    max-width:                  160px;
}

.form-item
{
    display:                    flex;
    flex-direction:             column;
    margin-top:                 2vh;
    text-align:                 left;
}

.game-form
{
    padding:                    2vw;
}

.generic-button
{
    margin:                     0.5vw;
    padding:                    0.5vw;
}

#img_element_box
{
    height:                     50px;
    overflow:                   hidden;
    position:                   relative;
    width:                      75px;
}

#img_element_box img
{
    object-fit:                 contain;
}

.item-box
{
    max-height:                 401px;
    min-height:                 200px;
}

.item-header
{
    border-bottom-color:        #C6002A;
    border-bottom-style:        solid;
    border-bottom-width:        5px;
}

.key-item
{
    align-items:                center;
    display:                    flex;
    height:                     40px;
    justify-content:            center;
    max-height:                 40px;
    width:                      50%;
}

.key-item h3
{
    color:                      darkred;
}

.key-item p
{
    -webkit-user-select:        none;
    -moz-user-select:           none;
    -ms-user-select:            none;
    color:                      black;
    font-weight:                bold;
    user-select:                none;
}

#keys_button_box
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    justify-content:            center;
    min-height:                 116px;
    padding:                    1.7vh 0 0.5vh 0;
}

#keys_button_box button
{
    -webkit-user-select:        none;
    -moz-user-select:           none;
    -ms-user-select:            none;
    color:                      darkred;
    user-select:                none;
}

.keys-box
{
    display:                    flex;
    flex-direction:             row;
    flex-wrap:                  wrap;
    height:                     200px;
    justify-content:            stretch;
    overflow-y:                 auto;
    text-align:                 left;
}

.keys-share-button, .submit-button-0
{
    color:                      darkred;
}

.mouse-hover-event
{
    background:                 gray;
    cursor:                     row-resize;
    height:                     5px;
    position:                   relative;
}

#outer_keys_box
{
    display:                    none;
}

#presets
{
    margin-bottom:              3vh;
}

#preset_name
{
    margin-bottom:              1vh;
}

.side-bar-elem2
{
    background:                 #C6002A;
}

#side_bar_link2
{
    color:                      white;
}

.slider-labels
{
    display:                    flex;
    flex-direction:             row;
    justify-content:            space-between;
}

.slider-labels p
{
    font-size:                  1vh;
    margin:                     0;
    text-align:                 center;
}

#upload_box
{
    width:                      375px;
}

.vert-keys-box
{
    width:                      50%;
}

.vert-keys-box .key-item
{
    width:                      99%;
}

@media only screen and (max-width: 1474px)
{
    .total-map-box
    {
        margin-top:             2.5vh;
    }
}
