label {
    color: black;
}

button {
    border-style: solid;
    border-width: 1px;
    border-radius: 5vw;
}

.box {
    min-width: 375px;
    width: 20vw;
    background: #fff;
    text-align: center;
    border-radius: 1vw;
    margin-right: 1vw;
}

.mapbox {
    min-width: 375px;
    width: 30vw;
    background: #fff;
    text-align: center;
    border-radius: 1vw;
    margin-right: 1vw;
    max-height: 40vh;
}

.background-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-header {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1vw;
}

h2 {
    margin: 1vh;
    color: black;
}

.form-col-1, .form-col-2 {
    max-width: 160px;
}

.config-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 8vh;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    text-align: left;
}

.form-col-1 {
    margin-left: 1vw;
}

.form-col-2 {
    margin-right: 1vw;
}

.item-box {
    max-height: 401px;
    min-height: 200px;
}

.keys-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    text-align: left;
    overflow-y: auto;
    height: 200px;
}

.key-item {
    width: 49.4%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.key-item p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mouse-hover-event {
    background: gray;
    height: 5px;
    position: relative;
    cursor: row-resize;
}

.vert-keys-box {
    width: 49.4%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.vert-keys-box .key-item {
    width: 99%;
}

.key-item p {
    margin-left: 1vw;
    color: black;
    font-weight: bold;
}

#keys_button_box {
    padding: 0.5vh 0 0.5vh 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#keys_button_box button {
    user-select: none;
}

.generic-button {
    padding: 0.5vw;
    margin: 0.5vw;
}

.slider-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-labels p {
    text-align: center;
    font-size: 1vh;
    margin: 0;
}
