#button_save_markers
{
    pointer-events:             auto;
}

.leaflet-control a
{
    background-color:           white;
    border:                     none;
    border-radius:              0;
    color:                      dodgerblue;
    cursor:                     auto;
    font-size:                  11px;
    margin-bottom:              0;
    margin-left:                0;
    text-decoration:            none;
    width:                      0;
}

#map
{
    animation:                  rollout 1s ease;
    box-shadow:                 rgba(128, 128, 128, 0.56) 0px 3px 2px;
    display:                    block;
    height:                     40vh;
    text-align:                 left;
    width:                      30vw;
}

.map-top-tab
{
    align-items:                center;
    background:                 white;
    border-color:               grey;
    border-radius:              1vw 1vw 0 0;
    border-style:               solid;
    border-width:               2px;
    display:                    flex;
    justify-content:            center;
    margin-right:               1vw;

    /* OVERWRITES */
    border-bottom-style:        none; /* OVERWRITE FOR: border-style */
}

.map-top-tab p
{
    font-size:                  1.7vh;
    margin:                     1.5vh 1vw 1.5vh 1vw;
}

.map-top-tabs
{
    display:                    flex;
    flex-direction:             row;
    margin-left:                2vw;
}

.mapbox
{
    background:                 #fff;
    border-color:               grey;
    border-style:               solid;
    border-width:               2px;
    margin-left:                2vw;
    margin-right:               1vw;
    max-height:                 40vh;
    min-width:                  375px;
    text-align:                 center;
    width:                      30vw;
}

.mapbox button
{
    margin:                     2vh;
    padding:                    1.2vh;
}

#mapButton button
{
    background:                 #DEDEDE;
}

.total-map-box
{
    width:                      32vw;
}

#tab_2, #tab_3
{
    background:                 grey;
    color:                      black;
}
